<!--<%= form_tag articles_path do %>
  <label>Article title:</label><br>
  <%= text_field_tag :title %><br>
 
  <label>Article Description</label><br>
  <%= text_area_tag :description %><br>
 
  <%= submit_tag "Submit Article" %>
<% end %>

Now that the edit view template will have access to the Article object 
(stored in @article), we need to refactor the form so that it auto-fills 
the form fields with the corresponding data from @article. 
We'll also use a different form helper, form_for, 
which will automatically set up the url where the form will be sent. 
These changes can be seen below: -->

<%= form_for @article do |f| %>
  <%= f.label 'Article Title' %><br>
  <%= f.text_field :title %><br>
 
  <%= f.label 'Article Description' %><br>
  <%= f.text_area :description %><br>
 
  <%= f.submit "Submit Article" %>
<% end %>